<div class="invitation col-12 col-md-5" data-controller="remove-user">

  <div class="invitation-from">
    <% if invitation.invitation_from.avatar.attached? %>
      <%= cl_image_tag invitation.invitation_from.avatar.key, class: "avatar-large" %>
    <% else %>
      <div class="no-avatar bg-yellow no-avatar-large">
        <i class="fa-solid fa-user"></i>
      </div>
    <% end %>
    <p><span><%= invitation.invitation_from.first_name %></span> invited you to share the List:</p>
  </div>

  <p class="name"><%= invitation.list.name %></p>

  <% unless invitation.message.blank?  %>
    <p class="fst-italic message">"<%= invitation.message %>"</p>
  <% end %>

  <div class="buttons">
    <%= button_to "Accept", accept_invitation_path(invitation), method: :post, class: 'btn btn-confirm' %>
    
    <%= button_to invitation_path(invitation),
      class: "btn btn-cancel",
      form: { 
        "data-question" => "Reject #{ invitation.invitation_from.first_name }'s invitation to the list \"#{ invitation.list.name }?\"",
        "data-action" => "submit->remove-user#rejectInvitation",
        "data-remove-user-target" => "rejectInvitationForm" },
      params: { origin: 'dashboard' },
      method: :delete do %>
        Reject
    <% end %>

  </div>

</div>

    