<% colors = ["#3b7d87", "#fd712c", "#66ac8f"] %>
<%#           turquoise, orange,    green %>

<div class="list-container">

  <% if @list.image.attached? %>
    <div class="bg-image" style="background-image: linear-gradient(rgba(254,225,119,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.image.key %>')"></div>
  <% else %>
    <div class="bg-image"></div>
  <% end %>

  <div class="row">
    <div class="col-3"></div>
    <div class="list-details col-6">
        <p class="name">
          <%= @list.name %>

          <%= link_to edit_list_path(@list), class: "actions" do %>
            <span><i class="fa-solid fa-pen"></i></span>
            <span><i class="fa-solid fa-trash-can"></i></span>
          <% end %>
        </p>
        <% unless @list.comment.blank? %>
          <p class="comment"><%= @list.comment %></p>
        <% end %>
      </div>
    <div class="col-3"></div>
  </div>

  
  <div class="row mt-3 align-items-start"> <%# 2 columns: users & list %>

    <div class="col-3"></div>

    <div class="list col-6" data-controller="new-item-list">

      <div class="list-heading">
        <div class="purchased"></div>
        <div class="name">Name</div>
        <div class="amount">Qt.</div>
        <div class="comment">Comment</div>
        <div class="actions"></div>
      </div>

      <p class="empty d-none" data-new-item-list-target="emptyListText">List is empty</p>
      
      <ul class="list-content">

        <% @list.items.each do |item| %>
          <%= render partial: "items/item", locals: { item: item } %>    
        <% end %>

        <%= render partial: "items/new_item", locals: { list: @list, item: @item } %>

      </ul>

    </div>


    <div class="users col-3"  data-controller="new-invitation" data-new-invitation-target="users">

      <%= render partial: "users", locals: { list: @list, invitation: @invitation } %>

    </div>

  </div>

</div>
