<h1><%= @list.name %></h1>
<p><%= @list.comment %></p>

<p>Users:</p>

<ul>
  <% @list.users.each do |user| %>
    <li><%= user.first_name %></li>
  <% end %>
</ul>

<p>Add user:</p>
<%= simple_form_for [@list, @invitation] do |f| %>

  <%= f.error_notification %>
  <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %> %>

  <%= f.input :invitation_to_id, as: :email, input_html: { value: "#{params[:invitation][:invitation_to_id] if params[:invitation]}" } %>
  <%= f.input :message %>

  <%= f.button :submit, class: "btn btn-warning" %>

<% end %>


<% if @list.image.attached? %>
  <%= cl_image_tag @list.image.key, class: "", alt: "" %>
<% else %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "", alt: "" %>
<% end %>

<p>Current user is Admin?: <%= @admin %></p>

<% if policy(@list).destroy? %>
  <%= link_to "Delete List",
    list_path(@list),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>

<p>Add item</p>

<%= simple_form_for [@list, @item] do |f| %>

  <%= f.error_notification %>
  <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %> %>

  <%= f.input :name %>
  <%= f.input :amount %>
  <%= f.input :comment %>

  <%= f.button :submit, class: "btn btn-warning" %>

<% end %>

<p>Items in the list:</p>

<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %></li>

    <%= simple_form_for [item] do |f| %>

      <%= f.error_notification %>
      <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %> %>

      <%= f.input :purchased %>
      <%= f.input :name %>
      <%= f.input :amount %>
      <%= f.input :comment %>

      <%= f.button :submit, class: "btn btn-warning" %>

    <% end %>

    <% if policy(item).destroy? %>
      <%= link_to "Delete Item",
        item_path(item),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    <% end %>
  <% end %>
</ul>
